<!DOCTYPE html>
<html lang="it">
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <title>{{ card.title }}</title>
</head>
<body>
        <div class="col-md">
                <h2> {{ card.id }} </h2>
		<img src="{{ logo_filename }}"/>
                <table class="table table-bordered">
                        <tbody>
                                {% for row in card.content %}
                                <tr>
                                        {% for number in row %}
                                        <td>{{ number }}</td>
                                        {% endfor %}
                                </tr>
                                {% endfor %}
                        </tbody>
                </table>
        </div>
</body>
</html>
